.git
.github
.env
.env.*
AdGuardHome
AdGuardHome.exe
AdGuardHome.yaml*
api/data
api/node_modules
bin
build
backups
certs
client/node_modules
client/playwright-report
client/test-results
coverage.txt
data
dist
dashboard/dist
node_modules
runtime
test-reports
tmp
